<!-- src/app/component/home/home.component.html -->
<app-nav></app-nav>
<div class="home-container">
  <h1>Herramientas Simples y Eficientes</h1>
  <p>
    PixMorpher ofrece un conjunto de herramientas de edición de imágenes fácil, perfecto para creadores de contenido,
    diseñadores y entusiastas de la fotografía.
  </p>
  <div class="features">
    <div class="feature-card">
      <h2>Escalar Imágenes</h2>
      <p>
        Cambia el tamaño de tus imágenes fácilmente ajustando el ancho y alto que desees.
        Solo sube tu imagen, elige las nuevas dimensiones y obtén una versión redimensionada al instante.
        Ideal para ajustar imágenes para redes sociales, sitios web o presentaciones.
        Ten en cuenta que si amplías demasiado la imagen, esta puede perder algo de calidad.
      </p>
      <button routerLink="/scale">Ir a Escalar</button>
    </div>
    <div class="feature-card">
      <h2>Convertir Imágenes</h2>
      <p>
        Convierte fácilmente imágenes entre formatos populares como PNG, JPG, JPEG, WEBP e ICO.
        Solo selecciona tu archivo, elige el formato de salida y descarga tu imagen convertida en segundos.
        La resolución y calidad original se mantienen, sin pérdida de tamaño ni definición.
      </p>
      <button routerLink="/converter">Ir a Convertir</button>
    </div>
    <div class="feature-card">
      <h2>Quitar Fondo de Imágenes</h2>
      <p>
        Elimina el fondo de tus imágenes seleccionando un color específico o usando inteligencia artificial. 
        Nuestra herramienta experimental te permite elegir entre diferentes modos como logos, personas, productos o personalizados. 
        Después del primer paso, puedes ajustar la sensibilidad con opciones avanzadas para refinar el resultado. 
        Ten en cuenta que el resultado puede variar según la imagen, ya que esta función aún está en fase beta.
      </p>
      <button routerLink="/remover">Ir a Remover</button>
    </div>
  </div>
</div>
<app-footer></app-footer>