<!-- src/app/component/home/home.component.html -->
<app-nav></app-nav>
<div class="home-container">
  <h1>Bienvenido</h1>
  <p>"Esta aplicación ofrece funciones básicas, incluyendo diversas herramientas de edición para mejorar tu experiencia." </p>
  <div class="features">
    <div class="feature-card">
      <h2>Escalar Imágenes</h2>
      <p>Cambia el tamaño de tus imágenes fácilmente manteniendo la calidad.</p>
      <button routerLink="/scale">Ir a Escalar</button>
    </div>
    <div class="feature-card">
      <h2>Convertir Imágenes</h2>
      <p>Convierte tus imágenes entre diferentes formatos como PNG, JPG, WEBP y más.</p>
      <button routerLink="/converter">Ir a Convertir</button>
    </div>
    <div class="feature-card">
      <h2>Sin fondo</h2>
      <p>Convierte tus imágenes eliminando el fondo de las imágenes.</p>
      <button routerLink="/remover">Ir a Convertir</button>
    </div>
  </div>
</div>
<app-footer></app-footer>