.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4A90E2;
    padding: 15px 30px;
    color: white;
    flex-wrap: wrap;
    position: relative;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}

.menu-toggle {
    font-size: 1.8rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 20px;
    transition: max-height 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #dfe9f5;
}

.nav-links.active {
    max-height: 200px;
}



@media (min-width: 601px) {
    .nav-links {
        display: flex;
        flex-direction: row;
    }
}